@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/OutfitRegular.ttf");
  font-family: "Outfit";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/OutfitMedium.ttf");
  font-family: "Outfit";
  font-weight: 500;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/OutfitLight.ttf");
  font-family: "Outfit";
  font-weight: 300;
}
