body {
  margin: 0;
  padding: 0;
  font-family: Outfit;
}

* {
  box-sizing: border-box;
  line-height: normal;
  font-family: inherit;
  margin: unset;
}

a {
  text-decoration: none;
  display: block;
}

input {
  background-color: transparent;
  width: 100%;
}

input:focus {
  outline: none;
}

ul {
  margin: 0;
  margin-inline: unset !important;
  padding: 0;
  list-style: none;
}

.white_A700_05_white_A700_05_border {
  border-image: linear-gradient(90deg, #ffffff05, #ffffff0a, #ffffff19, #ffffff0a, #ffffff05) 1;
}
